resources
site/
img/
**/*.sketch
.DS_Store

node_modules
.sass-cache

dev/*
!dev/wp-content/
dev/wp-content/*
!dev/wp-content/themes/
dev/wp-content/themes/*
!dev/wp-content/themes/portfolio-anne/
dev/wp-content/themes/portfolio-anne/.sass-cache
dev/wp-content/themes/portfolio-anne/node_modules
