/* Refonte-Portfolio
 *
 * /sass/base/home.scss - basic styles
 *
 * coded by Anne
 * started at 22/09/2016
 */

 body {
 	background-color: $bgColor;
 	font-family: $futura;
 	color: $textColor;
 	line-height: 1.4;
 }

 .sro {
 	text-indent: -9999px;
 }