/* Refonte-Portfolio
 *
 * /sass/components/projets.scss - basic styles for section projets
 *
 * coded by Anne
 * started at 22/09/2016
 */

 .projets {
 	&__list {
		width: 100%;
 	}
 	&__single {
 		display: inline-block;
 		width: 33%;
 		height: 18em;
 		-webkit-background-size: contain;
 		background-size: cover;
 		filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        -ms-filter: grayscale(1);
        transition: .3s ease;
		&--title {
			display: inline-block;
			text-decoration: none;
			font-size: 3em;
			width: 100%;
			text-align: center;
			margin: 2.5em 0;
			color: $secondBgColor;
			text-shadow: 2px 2px 2px #000;
		}
 	}
 	&__single:hover {
  		filter: grayscale(0);
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        -ms-filter: grayscale(0);
 	}
 	&__single:nth-of-type(1) {
		background: url(../assets/images/baobab.jpg) center no-repeat;
 	}
 	&__single:nth-of-type(3) {
 		background: url(../assets/images/kdna.jpg) center no-repeat;
 	}
 	&__single:nth-of-type(2) {
 		background: url(../assets/images/cv-linkedin.jpg) center no-repeat;
 	}
 }

 @media screen and (max-width: 1024px) {
 	.projets {
 		&__single {
 			width: 49%;
 		}
 	}
 }

 @media screen and (max-width: 900px) {
 	.projets {
 		&__single {
 			width: 100%;
 		}
 	}
 }
