/* Portfolio
 *
 * /sass/tools/_utils.scss - Small utilities
 *
 * coded by Anne
 * started at 10/05/2016
 */

 .hidden {
     display: none;
 }

 .sro {
     position: absolute;
     top: -99999px;
     left: -99999px;
 }

 .clearfix:before,
 .clearfix:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }

 .clearfix:after {
     clear: both;
 }
