/* Refonte-Portfolio
 *
 * /sass/components/cv.scss - basic styles for cv page
 *
 * coded by Anne
 * started at 22/09/2016
 */

.cv {
    width: 90%;
    margin: 5em auto;

    &__name {
        font-size: 1.8em;
        padding-bottom: .4em;
        border-bottom: 1px solid $textColor;
        margin-bottom: .8em;
    }

    &__head {
        width: 30%;
        display: inline-block;
        margin-right: 3%;
        vertical-align: top;
    }
    &__figure {
        width: 80%;
        margin-bottom: 2em;
    }
    &__img {
        width: 100%;
    }

    &__sectionTitle {
        font-size: 1.8em;
        padding-bottom: .4em;
        margin-bottom: 1em;
        border-bottom: 1px solid $textColor;
    }
    &__list {
        &--item {
            margin-bottom: 1em;
        }
        &--title {
            text-align: center;
            font-size: 1.3em;
            margin-bottom: .75em;
        }
    }
}

.infos {
    &__item {
        display: block;
        margin-bottom: 1em;
        &--icon {
            margin-right: 3%;
            font-size: 1.2em;
        }
    }
}

a.infos__item {
    color: $textColor;
}

.item {
    &__title {
        font-size: 1.3em;
        display: block;
        margin-bottom: .2em;
    }
    &__date {
        display: block;
        font-size: .9em;
        margin-bottom: .5em;
    }
    &__name:after {
        font-family: "FontAwesome";
        float: right;
        margin-right: 40%;
        font-size: .8em;
        line-height: 2em;

    }
    &__name {
        font-size: 1.2em;
        &--html:after {
            content:"    ";
        }
        &--css:after {
            content:"    ";
        }
        &--js:after {
            content:"    ";
        }
        &--php:after {
            content:"    ";
        }
        &--wp:after {
            content:"    ";
        }
        &--ps:after {
            content:"    ";
        }
        &--ai:after {
            content:"    ";
        }
        &--id:after {
            content:"    ";
        }
        &--sketch:after {
            content:"    ";
        }
        &--sublime:after {
            content:"    ";
        }
        &--atom:after {
            content:"    ";
        }
    }
}

.second {
    width: 65%;
    display: inline-block;
    vertical-align: top;
}

.columns {
    margin-bottom: 5em;
}
.experience, .formation, .competences, .loisirs {
    width: 47%;
    display: inline-block;
    vertical-align: top;
}
.experience, .competences {
    margin-right: 5%;
}

.competences {
    &__list {
        margin-bottom: 2em;
    }
}

.loisirs {
    &__list-item {
        margin-bottom: .75em;
    }
}

@media screen and (max-width: 1280px) {
    .item {
        &__name:after {
            margin-right: 30%;
        }
    }
}

@media screen and (max-width: 1150px) {
    .item {
        &__name:after {
            margin-right: 20%;
        }
    }
}

@media screen and (max-width: 965px) {
    .experience, .formation, .competences, .loisirs {
        display: block;
        width: 100%;
    }
    .item {
        &__name:after {
            margin-right: 60%;
        }
    }

    .cv {
        &__list {
            &--title {
                text-align: left;
            }
        }
    }
}

@media screen and (max-width: 870px) {
    .cv {
        &__infos {
            font-size: .9em;
        }
    }
}

@media screen and (max-width: 863px) {
    .cv {
        &__head {
            width: 100%;
            display: block;
        }
        &__figure {
            display: inline-block;
            width: 30%;
            margin-right: 10%;
            vertical-align: middle;
        }
        &__infos {
            display: inline-block;
            width: 50%;
            vertical-align: middle;
        }
    }
    .second {
        display: block;
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .cv {
        &__figure {
            display: block;
            width: 50%;
        }
        &__infos {
            display: block;
        }
    }
    .second {
        display: block;
        width: 100%;
    }
    .item {
        &__name:after {
            margin-right: 50%;
        }
    }
}
@media screen and (max-width: 500px) {

    .item {
        &__name:after {
            margin-right: 40%;
        }
    }
}
