/* Refonte-Portfolio
 *
 * /sass/components/header.scss - basic styles for header
 *
 * coded by Anne
 * started at 22/09/2016
 */


.header {
	background: transparent url(../assets/images/couverture.jpg) center no-repeat;
	background-size: cover;
	height: 45.81em;
	position: relative;

	&__logo {
		display: block;
		position: absolute;
		top: 13em;
		left: 6.944%;
		background: transparent url(../assets/images/logo.png) center no-repeat;
		text-indent: -9999px;
		-webkit-background-size: contain;
		background-size: contain;
		width: 40.972%;
		height: 10.625em;
	}

	&__nav {
		position: absolute;
		top: 17em;
		text-align: center;
		width: 100%;
		font-size: 2em;

	}
}

#menu-first .menu-item {
	display: inline-block;
	margin: 0 4.16%;
}

#menu-first .menu-item a {
	text-decoration: none;
	color: #fff;
}

#menu-first .menu-item a:after {
	content: '';
	display: block;
	margin: 0.625em auto 0;
	height: 0.125em;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .5s ease;
}

#menu-first .menu-item a:hover:after, #menu-first .menu-item a:focus:after, #menu-first .menu-item a:active:after {
	width: 100%;
	background: white;
}

.second-header {
	box-shadow: .5px .5px .5px .5px rgba(black, 0.2);
	&__logo {
		display: inline-block;
		background: transparent url(../assets/images/logo-black.png) center no-repeat;
		text-indent: -9999px;
		-webkit-background-size: contain;
		background-size: contain;
		width: 20%;
		height: 3.5em;
		margin: 2em 0;
		vertical-align: middle;

	}
	&__nav {
		display: inline-block;
		width: 25%;
		vertical-align: middle;
		float: right;
		font-size: 1.6em;
		margin-top: 1.5em;
	}
}

#menu-header .menu-item {
	display: inline-block;
	margin: 0 10%;

}

#menu-header .menu-item a {
	text-decoration: none;
	color: black;
	display: inline-block;
}

#menu-header .menu-item a:after {
	content: '';
	display: block;
	margin: 0.1em auto 0;
	height: 0.1em;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .5s ease;
}

#menu-header .menu-item a:hover:after, #menu-header .menu-item a:focus:after, #menu-header .menu-item a:active:after, #menu-header .current-menu-item a:after {
	width: 100%;
	background: black;
}


@media screen and (max-width: 1024px) {
	.header {
		&__logo {
			width: 39%;
			height: 8.875em;
		}
		&__nav {
			font-size: 1.875em;
		}
	}
}

@media screen and (max-width: 900px) {
	.header {
		height: 37.5em;

		&__logo {
			top: 11.5em;
		}

		&__nav {
			font-size: 1.7em;
			top: 15em;
		}
	}

	.second-header {
		&__nav {
			margin-right: 5%;
		}
	}
}

@media screen and (max-width: 800px) {
	.second-header {
		&__nav {
			width: 30%;
		}
	}
}

@media screen and (max-width: 768px) {
	.header {
		height: 32.1875em;

		&__logo {
			width: 35%;
			left: 10%;
			top: 9.5em;
		}

		&__nav {
			font-size: 1.6em;
		}
	}
}

@media screen and (max-width: 680px) {
	.second-header {
		&__logo {
			margin-left: 10%;
		}
		&__nav {
			width: 40%;
		}
	}
}

@media screen and (max-width: 600px) {
	.header {
		height: 25em;

		&__logo {
			top: 6em;
		}

		&__nav {
			top: 14em;
			font-size: 1.3em;
		}
	}
}

@media screen and (max-width: 500px) {
	.header {
		height: 20.874em;

		&__logo {
			top: 4.5em;
		}

		&__nav {
			font-size: 1.2em;
			top: 12em;
		}
	}

	.second-header {
		&__logo {
			margin-left: 10%;
		}
		&__nav {
			width: 50%;
		}
	}
}

@media screen and (max-width: 400px) {
	.header {
		height: 16.687em;

		&__logo {
			width: 40%;
			top: 2.5em;
			left: 5%;
		}

		&__nav {
			font-size: 1.1em;
		}
	}
}

@media screen and (max-width: 375px) {
	.header {
		height:13.5em;
		background: #000;

		&__logo {
			width: 70%;
			top: 0.8em;
			left: 15%;
		}
		&__nav {
			top: 9.5em;
		}
	}
}
