/* Refonte-Portfolio
 *
 * /sass/components/projets.scss - basic styles for section projets
 *
 * coded by Anne
 * started at 22/09/2016
 */

 .projets {
 	&__list {
		width: 100%;
        display: table;
        margin-bottom: -0.3em;
 	}
 	&__single {
 		display: inline-block;
 		width: 33.33%;
 		height: 17.7em;
        transition: .3s ease;
        position: relative;
        cursor: pointer;
		&--title {
			display: inline-block;
			text-decoration: none;
			font-size: 3em;
			width: 100%;
			text-align: center;
			padding: 2.5em 0;
			color: white;
			text-shadow: 2px 2px 2px #000;
            position: absolute;
            top: 0;
            right: 0;
		}
 	}
    &__figure {
        width: 100%;
        overflow: hidden;
        height: 18em;
        &--img {
            filter: grayscale(1) blur(4px);
            -webkit-filter: grayscale(1) blur(4px);
            -moz-filter: grayscale(1) blur(4px);
            -ms-filter: grayscale(1) blur(4px);
        }
    }
    &__single:hover .projets__figure--img {
          		filter: grayscale(0) blur(4px);
                -webkit-filter: grayscale(0) blur(4px);
                -moz-filter: grayscale(0) blur(4px);
                -ms-filter: grayscale(0) blur(4px);
 	}
 }

 @media screen and (max-width: 1024px) {
 	.projets {
        &__list {
    		display: block;
     	}
 		&__single {
 			width: 100%;
            display: inline-block;
 		}
 	}
 }

 @media screen and (max-width: 900px) {
 	.projets {
 		&__single {
 			width: 100%;
 		}
 	}
 }
